.Sidebar {
  position: fixed;
  width: 29%;
}

.Sidebar ul {
  padding-left: 20px;
}

.Sidebar li {
  text-decoration: none;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #999;
}
