.Profile-hr {
  margin-bottom: -1px;
}
.Profile-nav {
  margin: 0 20px;
}
.Profile-nav-tab-0 {
  color: #999;
  font-size: .8rem;
  font-weight: 600;
  padding: 15px 20px;
}
.Profile-nav-tab-1 {
  color: black;
  font-size: .8rem;
  font-weight: 600;
  padding: 15px 20px;
  border-top: 1px solid black;
}
.Profile-nav-tab-0:hover {
  cursor: pointer;
  color: #999;
  border-top: 1px solid #0000ff90;
}
.Profile-section {
  margin: 0px 20px 100px;
  border: 1px solid red;
  height: 600px;
}
