.userImage {
    height: 75%;
    width: 100%;
    position: relative;
}

.imageContainer {
    height: 100%;
    width: 100%;
}

.userImage:hover {
    opacity: .75;
}



.profDisplay {
    margin-top: 15px;
}

.photoGrid {
    margin-top:20px;
}

.profileLine {
    width: 66%;
    margin-left: 216px;
}

.iconProfile {
    opacity: 0;
    color: white;
    position: absolute;
    padding: 110px;
    font-size: 40px;
    bottom: 100px;
}

.iconProfile:hover {
    opacity: 1;
}