@font-face {
  font-family: siry;
  src: url(../../fonts/siry.otf);
}

.navbar-brand {
  color: black;
}

.navbar-brand:hover {
  color: black;
}

body {
  background-color: #f3f3f3;
  font-family: -apple-system, BlinkMacSystemFont, ‘Segoe UI’, Roboto, Oxygen,
    Ubuntu, Cantarell, ‘Open Sans’, ‘Helvetica Neue’, sans-serif;
}

.Nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 66px;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-brand {
  font-family: siry;
  font-size: 26px;
}

#header-input {
  width: 250px !important;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff !important;
  border-bottom: 1px solid #c6c6c6 !important;
  border-radius: 0 !important;
}

#header-input::placeholder {
  margin-left: 250px !important;
}

.searchButton {
  background-color: #fff !important;
  border: 1px solid #c6c6c6 !important;
}

.signOutButton {
  background-color: #fff !important;
  border: 1px solid #c6c6c6 !important;
  margin-left: 20px;
}