body {
  font-family: -apple-system, BlinkMacSystemFont, ‘Segoe UI’, Roboto, Oxygen,
    Ubuntu, Cantarell, ‘Open Sans’, ‘Helvetica Neue’, sans-serif;
}

.Post-user-nickname {
  margin-left: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
.Post-caption {
  padding: 16px 16px;
}
.Post-caption strong {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
#button1 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 20px 20px 20px 20px;
}
.vjs-fade-out {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.Post-image button {
  position: absolute;
  /* display: block; */
  height: 10px !important;
  width: 10px !important;
  top: 40.73534534634634634%;
  left: 59.53453454353453543543534%;
}
.Post-image .btn {
  padding: 0 35px 35px 0;
  border-radius: 100px;
}

.Outfit {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 50px;
}
.Outfit-image-bg {
  background-color: #efefef;
}
.Outfit-image img {
  display: block;
  width: 100%;
}
.action-buttons {
  height: 100%;
  padding: 20px 20px 10px 20px;
}
.like-btn {
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url("../../images/like_btn.png");
  background-repeat: no-repeat;
  margin-right: 20px;
}
.like-btn-active {
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url("../../images/like_btn_active.png");
  background-repeat: no-repeat;
  margin-right: 20px;
}
.comment-btn {
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url("../../images/comment_btn.png");
  background-repeat: no-repeat;
}
.like-btn:focus, 
.like-btn-active:focus,
.comment-btn:focus {
  outline: 0;
}
.like-btn:hover,
.like-btn-active:hover {
  cursor: pointer;
}
.Outfit-likes {
  height: 100%;
  padding: 0px 20px;
}
.Outfit-category {
  padding-right: 20px;
}
.Outfit-category-badge[data-id="1"] {
  padding: 2px;
  border: 1px solid red;
  border-radius: 5px;
}
.Outfit-category-badge[data-id="2"] {
  padding: 2px;
  border: 1px solid blue;
  border-radius: 5px;
}
.Outfit-category-badge[data-id="3"] {
  padding: 2px;
  border: 1px solid green;
  border-radius: 5px;
}
.Outfit-category-badge[data-id="4"] {
  padding: 2px;
  border: 1px solid purple;
  border-radius: 5px;
}
.Outfit-category-badge[data-id="5"] {
  padding: 2px;
  border: 1px solid brown;
  border-radius: 5px;
}
.Outfit-category-badge[data-id="6"] {
  padding: 2px;
  border: 1px solid magenta;
  border-radius: 5px;
}
.Outfit-hashtags {
  padding: 5px 20px 10px;
  word-wrap: break-word;
  white-space: initial;
}
.Outfit-hashtags a {
  color: #1c82f0;
  margin-right: 5px;
}
.Outfit-hashtags a:hover {
  color: #1c82f090;
  text-decoration: none;
}
.Outfit-description,
.Outfit-comment {
  height: 100%;
  padding: 0 20px;
}
.Outfit-likes a,
.Outfit-description a,
.Outfit-comment a {
  color: black;
}
.Outfit-description a:hover,
.Outfit-comment a:hover {
  color: #00000090;
  text-decoration: none;
}
.Outfit-load-comment {
  height: 100%;
  padding: 4px 20px;
}
.Outfit-load-comment a {
  color: #999;
}
.Outfit-comment-input {
  outline: 0;
  box-shadow: none;
}
.Outfit-comment-form {
  padding: 0 12px;
}
.Outfit-comment-input {
  box-sizing: border-box;
  padding: .3rem 8px;
}
.Outfit-comment-form .form-control {
  border: none;
}
.Outfit-comment-form .form-control:focus {
  border: none;
  box-shadow: 0 0 0 0.1rem #c1d4ee70;
}