body {
  font-family: -apple-system, BlinkMacSystemFont, ‘Segoe UI’, Roboto, Oxygen,
    Ubuntu, Cantarell, ‘Open Sans’, ‘Helvetica Neue’, sans-serif;
}

.Post {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-top: 15%;
}
.Post-user {
  display: flex;
  padding: 16px;
  align-items: center;
  font-weight: bold;
}
.Post-user-avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.Post-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.Post-user-nickname {
  margin-left: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
.Post-image-bg {
  background-color: #efefef;
}
.Post-image img {
  display: block;
  width: 100%;
}
.Post-description {
  height: 100%;
  padding: 0 20px 0 20px;
}

.Post-description a {
  color: black;
}
.Post-likes {
  height: 100%;
  padding: 0px 20px 0px 20px;
}
.Post-caption {
  padding: 16px 16px;
}
.Post-caption strong {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
#button1 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 20px 20px 20px 20px;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.8;
}
.action-buttons {
  height: 100%;
  padding: 20px 0px 0px 13px;
}
.like-btn {
  width: 40px;
  height: 50px;
  background-image: url("../../images/like_btn.png");
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 20px;
}
.comment-btn {
  width: 60px;
  height: 50px;
  background-image: url("../../images/comment_btn.png");
  background-repeat: no-repeat;
}
.form-control {
  border: none;
}
input:focus {
  outline: 0 !important;
}

.vjs-fade-out {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.Post-image button {
  position: absolute;
  /* display: block; */
  height: 10px !important;
  width: 10px !important;
  top: 40.73534534634634634%;
  left: 59.53453454353453543543534%;
}

.Post-image .btn {
  padding: 0 35px 35px 0;
  border-radius: 100px;
}

.Outfit-hashtags {
  padding: 5px 20px;
  word-wrap: break-word;
  white-space: initial;
}
.Outfit-hashtags a {
  color: #1c82f0;
  margin-right: 5px;
}
.Outfit-hashtags a:hover {
  color: #1c82f090;
  text-decoration: none;
}
.Outfit-comment {
  height: 100%;
  padding: 0 20px;
}
.Outfit-comment a {
  color: black;
}
.Outfit-comment a:hover {
  color: #00000090;
  text-decoration: none;
}
.Outfit-load-comment {
  height: 100%;
  padding: 5px 20px;
}
.Outfit-load-comment a {
  color: #999;
}

.Outfit-comment-input {
  outline: none;
}
.Outfit-comment-input:focus,
.Outfit-comment-input:active {
  box-shadow: 0 0 0 0.1rem #c1d4ee50;
}

.Outfit-comment-form {
  padding: 0 12px;
}
.Outfit-comment-input {
  padding: .3rem 8px;
}