.od a {
  color: black;
}
.od a:hover {
  color: #00000090;
  text-decoration: none;
}

.od-img-container {
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.od-img {
  width: 100%;
  height: 100%;
}
.od-img-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
}
.active-0:hover {
  opacity: 1;
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
}
.active-1 {
  opacity: 1;
}
.active-0 {
  opacity: 0;
}

.od-tag {
  position: absolute;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.od-tag:hover {
  cursor: pointer;
}
.od-tag-details {
  text-align: center;
  padding: 8px;
  background-color: #00000070;
}
.od-td-txt {
  font-size: .9rem;
  font-weight: 600;
  margin: 0;
}
.od-td-usr {
  font-size: .8rem;
  font-weight: 300;
  margin: 5px 0 0;
}
.od-td-usr a {
  color: white;
}

.od-desc {
  font-size: .9rem;
  margin: 16px 20px 0;
}

.od-hts {
  font-size: .9rem;
  padding: 5px 20px 10px;
  word-wrap: break-word;
  white-space: initial;
}
.od-hts a {
  color: #1c82f0;
  margin-right: 5px;
}
.od-hts a:hover {
  color: #1c82f090;
  text-decoration: none;
}

.od-comments-container {
  margin-bottom: 16px;
}
.od-comment {
  font-size: .9rem;
  padding: 0 20px;
}
.od-load-comment {
  font-size: .9rem;
  padding: 10px 20px 0;
}
.od-load-comment a {
  color: #999;
}

.od-basics-container {
  padding: 16px 20px;
}
a.od-cat {
  color: white;
}
a.od-cat:hover {
  text-decoration: none;
} 
.od-cat {
  padding: 5px 8px;
  color: white;
  font-weight: 400;
}
.od-cat[data-id="1"] {
  background-color: #f6546a;
}
.od-cat[data-id="2"] {
  background-color: #003366;
}
.od-cat[data-id="3"] {
  background-color: #329932;
}
.od-cat[data-id="4"] {
  background-color: purple;
}
.od-cat[data-id="5"] {
  background-color: brown;
}
.od-cat[data-id="6"] {
  background-color: #e51284;
}

.like-btn {
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.comment-btn {
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
}
.like-btn:focus, 
.comment-btn:focus {
  outline: 0;
}
.like-btn:hover {
  cursor: pointer;
}

.od-like-ct {
  margin-top: 16px;
}

.Outfit-comment-input {
  outline: 0;
  box-shadow: none;
}
.Outfit-comment-form {
  margin: 16px 0;
  padding: 0 12px;
}
.Outfit-comment-input {
  box-sizing: border-box;
  padding: .3rem 8px;
}
.Outfit-comment-form .form-control {
  border: none;
}
.Outfit-comment-form .form-control:focus {
  border: none;
  box-shadow: 0 0 0 0.1rem #c1d4ee70;
}